<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="control-label col-md-1">
      <%= form.label :tilte %>
    </div>
    <div class="col-md-11">
      <%= form.text_field :tilte, class: 'form-control', placeholder: 'Title of Post' ,id: :post_tilte %>
    </div>
  </div>

  <div class="form-group">
    <div class="control-label col-md-1">
      <%= form.label :body %>
    </div>
    <div class="col-md-11">
      <%= form.text_area :body, rows: 10, class: 'form-control', placeholder: 'Body of Post', id: :post_body %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-1 col-md-11">
      <%= form.submit class: 'btn btn-primary btn-lg pull-right' %>
    </div>
  </div>

  <%= form.hidden_field :user_id, id: :post_user_id %>

<% end %>
